/* DEBRIEF PAGE */
div #spinner {
	background: url(../images/hex-spinner.gif) no-repeat transparent;
	background-size: 64px;
	width: 64px;
	height: 64px;
    padding: 0.5em;
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
	text-indent: -9999px;
}

/* Chat area decoration */
#chat-area {
	
}

#chat-window {
    margin-right: 1em;
    overflow: auto;
    margin: 1em 1em 1em 2.5em;
}

div.chat-line {
	word-wrap: break-word;
}

span.chat-time {
	
	padding-right: 0.5em;
	color: #C0C0C0;
	white-space: nowrap;
}

span.chat-message {
}

/* TODO: use #FF4646 for enemy chat? */
span.chat-user {
	margin-right: 5px;
	color: #3399FF;
}

/* Players and teams */
#teams {
	padding: 0.5em 1em 1em 1em;
}

.team-header h2 {
	text-align: center;
	font-size: 1.25em;
	margin: 0.25em 0.25em 0.25em 0.25em;
}

.team-header span {
	margin: 0 1em 0 1em;
}

.team {
	width: 100%;
	display: inline-table;
	margin: 0 0.5em 0.5em 0;
	padding-bottom: 1em;
	border: 3px solid #3399FF;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	border-radius: 0.5em;
}

.player {
	margin: 0.5em 0.5em 0.5em 0.5em;
	border: 1px solid #CCCCCC;
	-moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	border-radius: 0.3em;
}
