/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require main
*= require mobile
*= require spectrum
*= require_self
*/

@font-face {
	font-family: 'UbuntuMono';
	src: url('images/UbuntuMono.ttf');
}

html {
	background-color: #000000;
	background-image: -moz-linear-gradient(center top, #000000, #404040);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000000), color-stop(1, #404040));
	background-image: linear-gradient(top, #000000, #404040);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#000000', EndColorStr = '#404040');
}

html * {
	font-family: UbuntuMono;
}

body {
  -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
}

::selection {
    background-color: #999999;
    color: #FFFFFF;
}

h1 {
	color: #FFFFFF;
}

a:link, a:visited, a:hover {
	color: #3399FF;
}

div #spinner {
	background: url(../images/hex-spinner.gif) no-repeat transparent;
	background-size: 64px;
	width: 64px;
	height: 64px;
    padding: 0.5em;
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
	text-indent: -9999px;
}

div #progressDiv {
	position: absolute;
	top: calc(50% + 50px);
	left: calc(50% - 50px);
	width: 100px;
	height: 20px;
	border: 2px solid #FFFFFF;
}

div #progressBar {
	width: 0%;
	height: 100%;
	background-color: #3399FF;
}

div.hidden {
	display: none;
}

div #fpsDiv {
	color: #FFFFFF;
}

div #fpsDiv.active{
	color: #66FF99;
}

div #pingDiv {
	color: #66FF99;
}

#canvasDiv {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	margin: 0px;
	border: 0px solid;
}

#fpsDiv {
	top: 0px;
	right: 0px;
	color: #FFFFFF;
	font-size: 12px;
}

#pingDiv {
	top: 0px;
	right: 0px;
	color: #FFFFFF;
	font-size: 12px;
}

#messagingArea {
	cursor: default;
	padding: 0px 0px 0px 5px;
	resize: none;
	background-color: transparent;
	color: #FFFFFF;
	outline: none;
	border: none;
	border-bottom: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	font-size: 14px;
}

/* Styles for dialog contents from battleInfo.gsp */
.ui-dialog .ui-dialog-titlebar {
	padding: 0;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	padding: 0.25em 0.5em;
}

div.unit-header {
	overflow: auto;
	font-weight: normal;
	font-size: 125%;
	height: 80px;
}

div.header h1 {
	margin: 0;
	padding: 0;
}

div#unit-image {
	float: left;
}

div#unit-id {
	margin-top: 10px;
	margin-left: 80px;
	border-bottom: 1px solid #FFFFFF;
}

span#unit-name {
	color: #FFFFFF;
}

div#unit-pilot #unit-type{
    float: right;
}

div#unit-pilot #owner{
    float: right;
}

div#dialogDiv {
	padding: 0;
}

div#show-battleMech {
	height: 100%;
}

div#info-tabs {
	height: 97.5%;
}

div#statuses {
	float: right;
	width: 25%;
	text-align: right;
}

.status-negative {
	color: #FF0000;
}

.status-positive {
	color: #3399FF;
}

div#points {
	float: left;
	width: 70%;
	margin-bottom: 10px;
}

div#points > span {
	white-space: nowrap
}

div#heat {
	float: left;
	width: 70%;
	margin-bottom: 10px;
}

div#heat-bar-background {
	width: 100%;
	height: 25px;
	border-style: solid;
	border-width: 2px;
	border-color: #FFFFFF;
}

div#heat-bar {
	height: 100%;
	border-right-style: solid;
	border-width: 4px;
	border-color: #AA0000;
	background: -webkit-linear-gradient(left, #3399FF, #FF0000); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #3399FF, #FF0000); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #3399FF, #FF0000); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #3399FF, #FF0000); /* Standard syntax */
}

div.heat-level {
	height: 100%;
	margin-top: -25px;
	border-right-style: solid;
	border-width: 2px;
	border-color: #FFFFFF;
}

div#armor {
	display: table;
	width: 70%;
	font-size: 12px;
}

div#armor > div {
	display: table-cell;
	width: 20%;
	position: relative;
}

div#armor > div > div {
	position: absolute;
	display: inline-block;
}

div.armor-bar {
	position: relative;
	float: left;
	height: 100px;
	width: 20px;
	border-style: solid;
	border-width: 2px;
	border-color: #FFFFFF;
}
div.armor-bar.destroyed {
	border-color: #FF0000;
}

div.armor-bar > div {
	position: absolute;
    bottom: 0;
	width: 100%;
	background-color: #3399FF;
}

div.armor-bar > div.color75percent {
	background-color: #5D79CA;
}

div.armor-bar > div.color50percent {
	background-color: #994D80;
}

div.armor-bar > div.color25percent {
	background-color: #FF0000;
}

div.internals-bar {
	position: relative;
	float: left;
	margin-top: 50px;
	height: 50px;
	width: 15px;
	border-style: solid;
	border-width: 2px;
	border-color: #FFFFFF;
}
div.internals-bar.destroyed {
	border-color: #FF0000;
}

div.internals-bar > div {
	position: absolute;
    bottom: 0;
	width: 100%;
	background-color: #3399FF;
}

div.internals-bar > div.color75percent {
	background-color: #5D79CA;
}

div.internals-bar > div.color50percent {
	background-color: #994D80;
}

div.internals-bar > div.color25percent {
	background-color: #FF0000;
}

div.crits {
	display: table;
	width: 100%;
	font-size: 12px;
}

div.crits h1 {
	margin: 10px 10px 0px 0px;
	padding: 0;
	color: #3399FF;
	font-size: 14px;
}

div.crits span.destroyed > h1 {
	color: #FF0000;
}

div.crits > div {
	display: table-cell;
	width: 20%;
}

div.crits span.property-heading {
	display: block;
	white-space: nowrap;
}

div.crits span.property-value {
	margin: 0px 10px 0px 0px;
	padding: 0px 10px 0px 0px;
	display: block;
	white-space: nowrap;
}

div.crits span.destroyed {
	text-decoration: line-through;
	color: #FF0000;
}

div.crits span.new-equipment {
	border-top: 1px solid;
	border-color: #808080;
}