/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require main
*= require mobile
*= require_self
*/

@font-face {
	font-family: 'UbuntuMono';
	src: url('images/UbuntuMono.ttf');
}

body {
  -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
          font-family: monospace;
}

::selection {
    background-color: #999999;
    color: #FFFFFF;
}

h1 {
	color: #FFFFFF;
}

div.hidden {
	display: none;
}

div #fpsDiv {
	color: #FFFFFF;
}

div #fpsDiv.active{
	color: #66FF99;
}

div #pingDiv {
	color: #66FF99;
}

#canvasDiv {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	margin: 0px;
	border: 0px solid;
}

#fpsDiv {
	top: 0px;
	right: 0px;
	color: #FFFFFF;
	font-family: UbuntuMono;
	font-size: 12px;
}

#pingDiv {
	top: 0px;
	right: 0px;
	color: #FFFFFF;
	font-family: UbuntuMono;
	font-size: 12px;
}

#messagingArea {
	cursor: default;
	padding: 0px 0px 0px 0px;
	resize: none;
	background-color: transparent;
	color: #FFFFFF;
	outline: none;
	border: none;
	border-bottom: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	font-family: UbuntuMono;
	font-size: 14px;
}

/* Styles for dialog contents from battleMech/battleInfo.gsp */
span.destroyed {
	text-decoration: line-through;
	color: #FF0000;
}
