/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require main
*= require mobile
*= require_self
*/

body {
  -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
          font-family: monospace;
}

#playerDiv {
	position: absolute;
	left: 0px;
	bottom: 5px;
	width: 200px;
	height: 100%;
	margin: 0px;
	border-style: none;
	background-color: #000000;
	background: linear-gradient(#000000, #AAAAAA);
}

#playerDiv div{
	cursor: default;
	margin: 5px 5px 5px 0px;
	color: #FFFFFF;
}

#canvasDiv {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	margin: 0px;
	border: 0px solid;
}

#fpsDiv {
	top: 0px;
	right: 0px;
	color: #FFFFFF;
}

#weaponsDiv {
	cursor: default;
	top: 0px;
	left: 0px;
	color: #FFFFFF;
	font-size: 125%;
}

#targetDiv {
	cursor: default;
	top: 0px;
	left: 0px;
	color: #FFFFFF;
}

#mapDiv {
	border-color: white;
	border-style: dotted;
	/* Border is just for testing spacing */
	height: 125px;
}

#infoDiv {
	border-color: yellow;
	border-style: dotted;
	/* Border is just for testing spacing */
	font-size: 125%;
	
}

#htalDiv {
	border-color: orange;
	border-style: dotted;
	/* Border is just for testing spacing */
	font-size: 85%;
	text-align: center;
}

#statsDiv {
	border-color: blue;
	border-style: dotted;
	/* Border is just for testing spacing */
	font-size: 150%;
}

#heatDiv {
	border-color: red;
	border-style: dotted;
	/* Border is just for testing spacing */
	font-size: 150%;
}
