/* STAGING PAGE */
#map-button {
	margin: 0 0 0.1em 1em;
	font-size: 1em;
}

#map-button .ui-button-text {
	display: initial;
}

div #spinner {
	background: url(../images/hex-spinner.gif) no-repeat transparent;
	background-size: 64px;
	width: 64px;
	height: 64px;
    padding: 0.5em;
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
	text-indent: -9999px;
}

/* Chat window/input decoration */
#chat-window {
	position: relative;
	height: 100px;
	width: 70%;
	left: 15%;
	border: 1px solid black;
	margin-top: 1em;
	overflow: auto;
}

#chat-input {
	position: relative;
	width: 70%;
	left: 15%;
	margin-top: 1em;
	border: 1px solid black;
}

div.chat-line {
	word-wrap: break-word;
}

/* TODO: use #FF4646 for enemy chat? */
span.chat-user {
	margin-right: 5px;
	color: #3498DB;
}

/* Map/Unit selection radio button decoration */
label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
}

input[type=radio] {
    display: none;
}

label:before {
    content: "";
    display: inline-block;
 
    width: 16px;
    height: 16px;
 
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-image: url("images/ui-icons_222222_256x240.png");
    background-position: 16px 16px;	/* .ui-icon-blank */
}

.radio label:before {
    border-radius: 8px;
}

input[type=radio]:checked + label:before {
    background-image: url("images/ui-icons_4b8e0b_256x240.png");
    background-position: -112px -192px; /* .ui-icon-circle-arrow-e */
}

/* Player staging area */
#teams {
	padding: 0.5em 1em 1em 1em;
}

.team > h2 {
	text-align: center;
	font-size: 1.25em;
	margin: 0.25em 0.25em 0.25em 0.25em;
}

.team {
	display: inline-table;
	margin: 0 0.5em 0.5em 0;
	padding-bottom: 1em;
	border: 3px solid #3399FF;
			   -moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	        border-radius: 0.5em;
}

.player {
	margin: 0.5em 0.5em 0.5em 0.5em;
	border: 1px solid #CCCCCC;
		   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
}

.player-info {
	cursor: default;
	border-bottom: 1px solid #CCCCCC;
	font-size: 1.15em;
	padding: 0.25em 0 0.25em 0.25em;
}

.player-unit {
	display: flex;
	margin: 2px 2px 2px 2px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.25);
}

img.unit-image {
	width: 40px;
}

span.unit-name {
	margin: 0.5em 0.5em 0 0 ;
}

/* User buttons */
button.user-delete {
	width: 1.5em;
	height: 1.5em;
}

button.user-join{
	float: right;
	margin: 0.5em 0.5em 0.5em 0;
	font-size: 0.75em;
}

/* Unit buttons */
button.unit-delete {
	width: 1.5em;
	height: 1.5em;
	top: 0.25em;
	left: 0.25em;
}

button.unit-add {
	margin: 0.5em 0 0.5em 0.25em;
	font-size: 0.75em;
}
 
/* Starting position menu/button */
.player-info label.location {
	cursor: default;
	margin: 0 0 0 0.25em;
	font-size: 0.8em;
}

.player-info span.ui-selectmenu-button {
	margin: 0 0 -0.5em 0;
	height: 1.5em;
}

.player-info span.ui-selectmenu-text {
	padding: 0.25em 0 0.25em 0;
	font-size: 0.75em;
	text-align: center;
}

.player-info span.ui-selectmenu-button span.ui-icon.ui-icon-triangle-1-s {
	right: 0;
}

/* Camo selection items */
div#camoSelectDiv {
	overflow: hidden;
}

div.camo-selection {
	display: flex;
	height: 100%;
	width: 100%;	
}

div#color-selection {
	width: 50%;
}

div#camo-preview {
	position: relative;
	width: 50%;
	border-left: 1px solid #999;
	background-color: rgba(255, 255, 255, 0.25);
}

button.player-camo, span.player-camo {
	width: 1.5em;
	height: 1.5em;
}

span.player-camo {
	cursor: unset;
}

div#color-revert-div {
	display: inline-block;
	padding: 4px;
	border-right: solid 1px #999;
	vertical-align: middle;
}

button#color-revert {
	cursor: pointer;
	width: 25px;
	height: 20px;
	border: solid 1px #999;
}

div.sp-picker-container {
	border: none;
}

img.unit-preview {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-animation:spin 8s linear infinite;
    -moz-animation:spin 8s linear infinite;
    animation:spin 8s linear infinite;
}
/* http://stackoverflow.com/a/16771693/854696 */
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }