/* STAGING PAGE */
#map-button {
	margin: 0 0 0.1em 1em;
	font-size: 1em;
}

#map-button .ui-button-text {
	display: initial;
}

div #spinner {
	background: url(../images/hex-spinner.gif) no-repeat transparent;
	background-size: 64px;
	width: 64px;
	height: 64px;
    padding: 0.5em;
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
	text-indent: -9999px;
}

/* Map selection radio button decoration */
label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
}

input[type=radio] {
    display: none;
}

label:before {
    content: "";
    display: inline-block;
 
    width: 18px;
    height: 18px;
 
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-image: url("images/ui-icons_222222_256x240.png");
    background-position: -16px -192px;	/* .ui-icon-circle-minus */
}

.radio label:before {
    border-radius: 8px;
}

input[type=radio]:checked + label:before {
    background-image: url("images/ui-icons_4b8e0b_256x240.png");
    background-position: -112px -192px; /* .ui-icon-circle-arrow-e */
}

/* Player staging area */
#teams {
	padding: 0.5em 1em 1em 1em;
}

.team > h2 {
	text-align: center;
	font-size: 1.25em;
	margin: 0.25em 0.25em 0.25em 0.25em;
}

.team {
	display: inline-table;
	margin: 0 0.5em 0.5em 0;
	padding-bottom: 1em;
	border: 3px solid #3399FF;
			   -moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	        border-radius: 0.5em;
}

.player {
	margin: 0.5em 0.5em 0.5em 0.5em;
	border: 1px solid #CCCCCC;
		   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
}

.player-name {
	border-bottom: 1px solid #CCCCCC;
}

.player-unit {
	display: flex;
}

img.unit-image {
	width: 40px;
}

span.unit-name {
	margin: 0.5em 0.5em 0 0 ;
}

/* Unit buttons */
button.unit-delete {
	width: 1.5em;
	height: 1.5em;
	top: 0.25em;
	left: 0.25em;
}

button.unit-add {
	margin: 0.5em 0 0.5em 0.25em;
	font-size: 0.75em;
}
